html.ciemny
	.literka
		background-color: #1f242d

		&.dobrze
			background-color: #16a34a

		&.zle
			background-color: #4b5563

		&.przesunieta
			background-color: #d97706

		&.kursor
			box-shadow: 0 0 0.4em #9ca3af
		
		&.klawisz
			&:hover
				background-color: #555b66
		
		&.enter
			background-color: #15803d

			&:hover
				background-color: #22c55e
		
		&.backspace
			background-color: #b91c1c

			&:hover
				background-color: #ef4444
