html.ciemny
	.literka
		background-color: navy

		&.dobrze
			background-color: darkgreen

		&.zle
			background-color: dimgray

		&.przesunieta
			background-color: peru

		&.kursor
			box-shadow: 0 0 0.4em white
		
		&.klawisz
			&:hover
				background-color: dodgerblue
		
		&.enter
			background-color: darkgreen

			&:hover
				background-color: limegreen
		
		&.backspace
			background-color: darkred

			&:hover
				background-color: tomato