$promien: 0.5em;

.gra {
	text-align: center;
	max-width: 30em;
	margin: 0 auto;
	user-select: none;

	.przyciskResetu {
		margin: 1em;
		border: none;
		border-radius: $promien;
		padding: $promien;
		font-size: 1em;
		color: white;
		background-color: royalblue;
		font-weight: bold;
		display: block;
		margin: 0 auto;

		&.jeszczeRaz {
			background-color: green;
		}

		&.naPewno {
			background-color: darkorange;
		}
	}

	@media screen and (max-height: 750px) {
		font-size: 0.75em;
	}

	@media screen and (max-height: 600px) {
		font-size: 0.5em;
	}
}