html.ciemny
	body
		background-color: #0e1116
		color: #e5e7eb

	footer
		color: #9ca3af

		a:link,
		a:visited
			color: #d1d5db

	button
		color: #f8fafc
		background-color: #4b5563

		&:hover
			background-color: #6b7280
