$promien: 0.5em;

button {
	border: none;
	border-radius: $promien;
	padding: $promien;
	font-size: 1em;
	color: white;
	background-color: royalblue;
	font-weight: bold;
	display: block;
	margin: 1em auto;
}

footer {
	margin-top: 2em;
	text-align: center;
	font-size: 0.8em;
	color: gray;

	a:link, a:visited {
		color: darkgray;
	}
}